<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <!-- Bootstrap core CSS -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.7/css/mdb.min.css" rel="stylesheet">


  <link rel="stylesheet" href="../static/css/style.css">

  <title>Rice Analytica 2020</title>
</head>

<body>
  <div class="banner-enterdata">
    <div class="banner-content">
      <div class="container">
        <div class="row">
          <div class="col-md-12">

            <h1>Rice Analytica 2020</h1>
            <br>
            <h3>Statistics Entry for 2020 Predictions</h3>
            <br>

            <a class="mini_link" href="https://rice-analytica.herokuapp.com" target="_blank">Return to Main Page
              <span>&#8594;</span>
            </a>

          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <div class="row">
    <div class="col-md-1" style="margin-top: 0; margin-left:0;"></div>
    <div class="col-md-9" style="margin-top: 0; margin-left:0;">
      <h2>Please enter your county's most current data below to predict the 2020 Election Outcome!</h2>
      <form role="form" method="POST" action="/predict">
        <div class="form-group">
          % Evangelical Protestant:
          <input type="text" name="evangelical" value=26><br>
          % Black Protestant:
          <input type="text" name="black_protestant" value=1.6><br>
          % Mainline Protestant:
          <input type="text" name="mainline_protestant" value=6.8><br>
          % Catholic:
          <input type="text" name="catholic" value=18.1><br>
          % Orthodox:
          <input type="text" name="orthodox" value=.31><br>
          % Other Religion:
          <input type="text" name="other_religion" value=5.2><br>
          % Non Religious:
          <input type="text" name="no_religion" value=41.6><br>

          Population Density (Per Sq. Mile):
          <input type="text" name="pop_density" value=2304><br>
          % Total Population: Male:
          <input type="text" name="male" value=50><br>
          % Total Population: Female:
          <input type="text" name="female" value=49.8><br>

          % Total Population: 18 to 34 Years:
          <input type="text" name="18_to_34" value=24.18><br>
          % Total Population: 35 to 64 Years:
          <input type="text" name="35_to_64" value=39.13><br>
          % Total Population: 65 and Over:
          <input type="text" name="65_and_up" value=7.94><br>

          % Total Population: White Alone:
          <input type="text" name="white" value=61.8><br>
          % Total Population: Black or African American Alone:
          <input type="text" name="black" value=18.16><br>
          % Total Population: American Indian and Alaska Native Alone:
          <input type="text" name="indian" value=0><br>
          % Total Population: Asian Alone:
          <input type="text" name="asian" value=5.61><br>
          % Total population: Hispanic or Latino:
          <input type="text" name="hispanic" value=30><br>

          % Population 15 Years and Over: Never Married:
          <input type="text" name="never_married" value=32><br>
          % Population 15 Years and Over: Now Married (Not Including Separated):
          <input type="text" name="married" value=49.6><br>
          % Population 15 Years and Over: Divorced:
          <input type="text" name="divorced" value=10.3><br>
          % Single Parent Households:
          <input type="text" name="single_parent" value=20.2><br>
          Average Household Size:
          <input type="text" name="house_size" value=2.8><br>

          % College or Above:
          <input type="text" name="college" value=18.4><br>
          % Gini Index:
          <input type="text" name="gini" value=0.486><br>
          % Median Income:
          <input type="text" name="income" value=50422><br>
          % Civilian Population 18 Years and Over: Veteran:
          <input type="text" name="veteran" value=7><br>
          % Civilian Population 18 Years and Over: Nonveteran:
          <input type="text" name="non_veteran" value=93><br>
          </div>
          <input type="submit" value="Submit">
        </div>
      </form>
    <div class="col-md-2" style="margin-top: 0; margin-left:0;">
      <img class="left-pic" src="../static/images/dem_vs_rep_1.jpg">
    </div>
  </div>

</body>

</html>