<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <!-- Bootstrap core CSS -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.7/css/mdb.min.css" rel="stylesheet">


  <link rel="stylesheet" href="../static/css/style.css">

  <title>Rice Analytica 2020</title>
</head>

<body>
  <div class="banner-predict">

    <div class="banner-content">
      <div class="container">
        <div class="row">
          <div class="col-md-12">

            <h1>Rice Analytica 2020</h1>
            <h3>Historical Election Data and 2020 Predictions</h3>
            <br>

            <a class="mini_link" href="https://rice-analytica.herokuapp.com/enterdata" target="_blank">Return to Stats Entry
              <span>&#8594;</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  
  <h2>
    Forecasted Results: <br>
    {{winner}} Win by {{margin}} !!! <br>
    <img src= {{image_link}}>   
    
  </h2>
  <br>
  <br>
  <hr>

</body>

</html>